* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.score-container{
    position: fixed;
    color: whitesmoke;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 700;
    font-size: large;
}