* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111;
}
.score-container{
    position: fixed;
    color: whitesmoke;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 700;
    font-size: large;
}
.score-card-container, 
.game-rules-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.score-card{
    background: whitesmoke;
    width: 60%;
    max-width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}
.btn-primary{
    padding: 16px;
    border-radius: 7px;
    height: 50px;
    border: none;
    background: tomato;
    color: white;
    border: 1px solid transparent;
    font-size: large;
    line-height: 16px;
}
.btn-primary:hover{
    border: 1px solid #af3621;
    background: #d3361a;
}
.your-score-label{
    font-size: 24px;
}
.your-score-value{
    font-size: 48px;
    margin: 5px 0;
}
.game-rules-btn-container{
    margin-top: 20px;
}
.btn-secondary{
    padding: 16px;
    border-radius: 7px;
    height: 50px;
    border: 1px solid transparent;
    background: rgb(243, 235, 235);
    font-size: large;
    line-height: 16px;
}
.btn-secondary:hover{
    border: 1px solid #111;
    background: transparent;
}
.game-rules{
    background: whitesmoke;
    width: 70%;
    max-width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}
.back-btn-container{
    margin-top: 30px;
}
.main-list{
    list-style-type: circle;
    line-height: 24px;
}
.sub-list{
    list-style-type: lower-roman;
    padding-left: 30px;
}